@model IEnumerable<ShopHuy.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Products</h2>

<p>
    <a href="@Url.Action("Create", "Products")" class="btn btn-info">
        <i class="fa fa-floppy-o"></i>
        <span>

        </span>
    </a>
</p>
<table class="table table-bordered table-striped table-responsive" id="table-ex">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>              
                <td align="center">
                    @Html.DisplayFor(modelItem => item.ProductUpdate)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.ProductQty)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.ProductSold)
                </td>
                <td align="center">
                    <img src="~/Img/Products/@item.ProductImg" class="img-responsive Products_details" alt=""  />
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Products", new { id = item.ProductId })" class="btn btn-success">
                        <i class="fa fa-flash"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductId })" class="btn btn-primary">
                        <i class="fa fa-list-alt"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Delete", "Products", new { id = item.ProductId })" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        <span>

                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table-ex').DataTable();
        });
    </script>
}