@model ShopHuy.Models.Role

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Details</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Roles", new { id = Model.Id })" class="btn btn-default">
        <i class="fa fa-flash"></i>
        <span>

        </span>
    </a>
    |
    <a href="@Url.Action("Index", "Roles")" class="btn btn-default">
        <i class="fa fa-sort-alpha-desc"></i>
        <span>

        </span>
    </a>
</p>
